[core]
	autocrlf = true
	editor = code --wait
	quotepath = false
[user]
	name = 三雲空楽
	email = your-personal-email@example.com  # TODO: 個人メールに変更
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pull]
	rebase = false
